/nbproject/private/
/log/*
/tmp/*
/app/views/taglibs/auto/*
config/hobo_routes.rb
Gemfile.lock
.svn

db/development.sqlite3
db/production.sqlite3
passenger.*.pid*

Editors/Web/PorisWebEditor/passenger.3000.log
