<script type="text/javascript">
// Place your application-specific JavaScript functions and classes here
// This file is automatically included by javascript_include_tag :defaults

function toggleDiv()
{
  Element.toggle('mytree');
  Element.toggle('expanded');
  Element.toggle('collapsed');
  return false;
}
function showDrag()
{
  var drag_images = $$('img.drag_image');
  drag_images.all(function(value,index){return value.style.display='inline';});
  Element.toggle('done');
  Element.toggle('reorder');
  return false;
}
function hideDrag()
{
  var drag_images = $$('img.drag_image');
  drag_images.all(function(value,index){return value.style.display='none';});
  Element.toggle('done');
  Element.toggle('reorder');
  return false;
}

function toggleMyTree(id)
{
  Element.toggle(id+'collapsed');
  Element.toggle(id+'expanded');
  Element.toggle(id+'children');
  return false;
}
function toggleBackground(el)
{
  // using collection proxies to change the background
  var highlighted_el = $$("span.highlighted");
  highlighted_el.all(function(value,index){return value.className='normal'});

  el.className='highlighted';
  selected_el = el;
  return false;
}
</script>

<div id="selected_item" class="selected_item">

  <%= 
  	get_tree_data(nil,@item,!@show,""){|n|
    link_to(n.name,{:controller=>'nodes', :action=>'show', :id=>n.id}, :target => "main") }
    %>

    <%= image_tag 'indicator.gif', :id=>'tree_indicator', :style=>'display:none' %>
    <%= image_tag 'indicator.gif', :id=>'sort_tree_indicator', :style=>'display:none' %>

</div>
<script>
var selected_el = document.getElementById('<%= @item.id%>_tree_item');
selected_el.className='highlighted';
</script>
