<table>
<tr><td><b>Name:</b></td><td><%=h @item.name%></td></tr>
<tr><td><b>Type:</b></td><td><%=h @item.node_type.name if @item.node_type %></td></tr>
<tr><td><b>Icon:</b></td><td><%=image_tag @item.node_type.img_link if @item.node_type %></td></tr>

<p><b>Tree:</b>
<div id="ajaxtree">
 <%= render :partial=>"nodes/ajax_tree", :object=>[@item,@items,@root] %>
</div></p>
</table>
