<HTML>

<!--------------------------------------------------------------->
<!-- Copyright (c) 2006 by Conor O'Mahony.                     -->
<!-- For enquiries, please email GubuSoft@GubuSoft.com.        -->
<!-- Please keep all copyright notices below.                  -->
<!-- Original author of TreeView script is Marcelino Martins.  -->
<!--------------------------------------------------------------->
<!-- This document includes the TreeView script.  The TreeView -->
<!-- script can be found at http://www.TreeView.net.  The      -->
<!-- script is Copyright (c) 2006 by Conor O'Mahony.           -->
<!--------------------------------------------------------------->

 <HEAD>
  <TITLE>Tree View of <%=  @node.name %></TITLE>
 </HEAD>

 <!-- You may make other changes, but do not change the names  -->
 <!-- of the frames (treeframe and basefrm).                   -->
 <FRAMESET COLS="200,*">
   <FRAME SRC="/web_tree_code_gens/show_code/<%=@code_gen.id.to_s%>.xml?node=<%=@node.id.to_s%>" name="treeframe">
   <FRAME SRC="/nodes/<%=@node.id.to_s%>" name="basefrm">
 </FRAMESET>

</HTML>