<html>
<body>
<script type="text/javascript" language="javascript" src="/GraphML/GraphMLViewer/GraphMLViewer.js"></script>

<script language="javascript" type="text/javascript">
<!--

if (!RunPlayer(
    "width", "100%",
    "height", "100%",
    "graphUrl", "/graphml_code_gens/show_node/<%=@code_gen.id.to_s%>.graphml?node=<%=@node.id.to_s%>",
    "overview", "true",
    "toolbar", "true",
    "tooltips", "true",
    "movable", "true",
    "links", "true",
    "linksInNewWindow", "true",
    "viewport", "full"
    )) {
  // Flash Player is too old or not installed.
  if (!InstallFlashUpdate("width", "100%", "height", "100%")) {
    // Flash Player is too old for the updater or not installed.
    // Place alternate content here:
    document.write('This content requires the Adobe Flash Player Version 9.0.38 or higher. '
        + '<a href=http://www.adobe.com/go/getflash/>Get Flash</a>');
  }
}



//-->
</script>
Puedes descargártelo de <a href="/graphml_code_gens/show_code/<%=@code_gen.id.to_s%>.xml?node=<%=@node.id.to_s%>">aquí</a>
</body>
</html>