<?xml version="1.0" encoding="UTF-8"?>
      <sub-systems-v4><value-string>
  <default-string>First Name</default-string>
  <id type="integer">355</id>
  <name>FirstName</name>
  <node-type-id type="integer">5</node-type-id>
  <project-id type="integer">1</project-id>
  <type>ValueString</type>
  <value-formatter-id type="integer" nil="true"></value-formatter-id>
  <version type="float">1.0</version>
  <labels type="array"/>
  <node-attributes type="array"/>
  <destinations type="array"/>
</value-string>
<mode>
  <default-mode-id type="integer" nil="true"></default-mode-id>
  <default-value-id type="integer" nil="true"></default-value-id>
  <id type="integer">359</id>
  <name>FirstName_Normal</name>
  <node-type-id type="integer">6</node-type-id>
  <project-id type="integer">1</project-id>
  <type>Mode</type>
  <version type="float">1.0</version>
  <labels type="array"/>
  <node-attributes type="array"/>
  <destinations type="array">
    <destination type="ValueString">
      <id type="integer">355</id>
    </destination>
  </destinations>
</mode>
<sub-system>
  <default-mode-id type="integer" nil="true"></default-mode-id>
  <id type="integer">354</id>
  <name>FirstName</name>
  <node-type-id type="integer">4</node-type-id>
  <project-id type="integer">1</project-id>
  <type>SubSystem</type>
  <version type="float">1.0</version>
  <labels type="array">
    <label>
      <name>First Name</name>
      <scope-kind>
        <name>OPMS</name>
      </scope-kind>
    </label>
  </labels>
  <node-attributes type="array"/>
  <destinations type="array">
    <destination type="ValueString">
      <id type="integer">355</id>
    </destination>
    <destination type="Mode">
      <id type="integer">359</id>
    </destination>
  </destinations>
</sub-system>
<value-string>
  <default-string>Surname</default-string>
  <id type="integer">357</id>
  <name>SurName</name>
  <node-type-id type="integer">5</node-type-id>
  <project-id type="integer">1</project-id>
  <type>ValueString</type>
  <value-formatter-id type="integer" nil="true"></value-formatter-id>
  <version type="float">1.0</version>
  <labels type="array"/>
  <node-attributes type="array"/>
  <destinations type="array"/>
</value-string>
<mode>
  <default-mode-id type="integer" nil="true"></default-mode-id>
  <default-value-id type="integer" nil="true"></default-value-id>
  <id type="integer">358</id>
  <name>SurName_Normal</name>
  <node-type-id type="integer">6</node-type-id>
  <project-id type="integer">1</project-id>
  <type>Mode</type>
  <version type="float">1.0</version>
  <labels type="array"/>
  <node-attributes type="array"/>
  <destinations type="array">
    <destination type="ValueString">
      <id type="integer">357</id>
    </destination>
  </destinations>
</mode>
<sub-system>
  <default-mode-id type="integer" nil="true"></default-mode-id>
  <id type="integer">356</id>
  <name>SurName</name>
  <node-type-id type="integer">4</node-type-id>
  <project-id type="integer">1</project-id>
  <type>SubSystem</type>
  <version type="float">1.0</version>
  <labels type="array">
    <label>
      <name>Surname</name>
      <scope-kind>
        <name>OPMS</name>
      </scope-kind>
    </label>
  </labels>
  <node-attributes type="array"/>
  <destinations type="array">
    <destination type="ValueString">
      <id type="integer">357</id>
    </destination>
    <destination type="Mode">
      <id type="integer">358</id>
    </destination>
  </destinations>
</sub-system>
<mode>
  <default-mode-id type="integer" nil="true"></default-mode-id>
  <default-value-id type="integer" nil="true"></default-value-id>
  <id type="integer">360</id>
  <name>IP_Normal</name>
  <node-type-id type="integer">6</node-type-id>
  <project-id type="integer">1</project-id>
  <type>Mode</type>
  <version type="float">1.0</version>
  <labels type="array"/>
  <node-attributes type="array"/>
  <destinations type="array">
    <destination type="Mode">
      <id type="integer">359</id>
    </destination>
    <destination type="Mode">
      <id type="integer">358</id>
    </destination>
  </destinations>
</mode>
<sub-system>
  <default-mode-id type="integer" nil="true"></default-mode-id>
  <id type="integer">353</id>
  <name>IP</name>
  <node-type-id type="integer">3</node-type-id>
  <project-id type="integer">1</project-id>
  <type>SubSystem</type>
  <version type="float">1.0</version>
  <labels type="array">
    <label>
      <name>Principal Investigator</name>
      <scope-kind>
        <name>OPMS</name>
      </scope-kind>
    </label>
  </labels>
  <node-attributes type="array"/>
  <destinations type="array">
    <destination type="SubSystem">
      <id type="integer">354</id>
    </destination>
    <destination type="SubSystem">
      <id type="integer">356</id>
    </destination>
    <destination type="Mode">
      <id type="integer">360</id>
    </destination>
  </destinations>
</sub-system>
<value-date-range>
  <date-max type="datetime">2050-01-01T00:00:00Z</date-max>
  <date-min type="datetime">2000-01-01T00:00:00Z</date-min>
  <default-date type="datetime">2010-04-09T15:07:00Z</default-date>
  <id type="integer">394</id>
  <name>Date</name>
  <node-type-id type="integer">5</node-type-id>
  <project-id type="integer">1</project-id>
  <type>ValueDateRange</type>
  <value-formatter-id type="integer">6</value-formatter-id>
  <version type="float">1.0</version>
  <labels type="array"/>
  <node-attributes type="array"/>
  <destinations type="array"/>
</value-date-range>
<mode>
  <default-mode-id type="integer" nil="true"></default-mode-id>
  <default-value-id type="integer" nil="true"></default-value-id>
  <id type="integer">364</id>
  <name>Date_Normal</name>
  <node-type-id type="integer">6</node-type-id>
  <project-id type="integer">1</project-id>
  <type>Mode</type>
  <version type="float">1.0</version>
  <labels type="array"/>
  <node-attributes type="array"/>
  <destinations type="array">
    <destination type="ValueDateRange">
      <id type="integer">394</id>
    </destination>
  </destinations>
</mode>
<value-double-range>
  <default-float type="float">0.0</default-float>
  <id type="integer">381</id>
  <name>HourAngleRange</name>
  <node-type-id type="integer">5</node-type-id>
  <project-id type="integer">1</project-id>
  <rangemax type="float">360.0</rangemax>
  <rangemin type="float">0.0</rangemin>
  <type>ValueDoubleRange</type>
  <value-formatter-id type="integer">2</value-formatter-id>
  <version type="float">1.0</version>
  <labels type="array"/>
  <node-attributes type="array"/>
  <destinations type="array"/>
</value-double-range>
<mode>
  <default-mode-id type="integer" nil="true"></default-mode-id>
  <default-value-id type="integer" nil="true"></default-value-id>
  <id type="integer">382</id>
  <name>HourAngle_Normal</name>
  <node-type-id type="integer">6</node-type-id>
  <project-id type="integer">1</project-id>
  <type>Mode</type>
  <version type="float">1.0</version>
  <labels type="array"/>
  <node-attributes type="array"/>
  <destinations type="array">
    <destination type="ValueDoubleRange">
      <id type="integer">381</id>
    </destination>
  </destinations>
</mode>
<mode>
  <default-mode-id type="integer" nil="true"></default-mode-id>
  <default-value-id type="integer" nil="true"></default-value-id>
  <id type="integer">374</id>
  <name>DateSystem_Normal</name>
  <node-type-id type="integer">6</node-type-id>
  <project-id type="integer">1</project-id>
  <type>Mode</type>
  <version type="float">1.0</version>
  <labels type="array">
    <label>
      <name>Use Date</name>
      <scope-kind>
        <name>OPMS</name>
      </scope-kind>
    </label>
  </labels>
  <node-attributes type="array"/>
  <destinations type="array">
    <destination type="Mode">
      <id type="integer">364</id>
    </destination>
    <destination type="Mode">
      <id type="integer">382</id>
    </destination>
  </destinations>
</mode>
<mode>
  <default-mode-id type="integer" nil="true"></default-mode-id>
  <default-value-id type="integer" nil="true"></default-value-id>
  <id type="integer">373</id>
  <name>DateSystem_HourAngle</name>
  <node-type-id type="integer">6</node-type-id>
  <project-id type="integer">1</project-id>
  <type>Mode</type>
  <version type="float">1.0</version>
  <labels type="array">
    <label>
      <name>Use Hour Angle</name>
      <scope-kind>
        <name>OPMS</name>
      </scope-kind>
    </label>
  </labels>
  <node-attributes type="array"/>
  <destinations type="array">
    <destination type="Mode">
      <id type="integer">382</id>
    </destination>
  </destinations>
</mode>
<mode>
  <default-mode-id type="integer" nil="true"></default-mode-id>
  <default-value-id type="integer" nil="true"></default-value-id>
  <id type="integer">389</id>
  <name>UsePreImaging_Dont</name>
  <node-type-id type="integer">6</node-type-id>
  <project-id type="integer">1</project-id>
  <type>Mode</type>
  <version type="float">1.0</version>
  <labels type="array">
    <label>
      <name>Don't use it (catalog)</name>
      <scope-kind>
        <name>OPMS</name>
      </scope-kind>
    </label>
  </labels>
  <node-attributes type="array"/>
  <destinations type="array"/>
</mode>
<value-string>
  <default-string>mypreimagingfile.fits</default-string>
  <id type="integer">391</id>
  <name>PreImagingFile</name>
  <node-type-id type="integer">5</node-type-id>
  <project-id type="integer">1</project-id>
  <type>ValueString</type>
  <value-formatter-id type="integer" nil="true"></value-formatter-id>
  <version type="float">1.0</version>
  <labels type="array"/>
  <node-attributes type="array"/>
  <destinations type="array"/>
</value-string>
<mode>
  <default-mode-id type="integer" nil="true"></default-mode-id>
  <default-value-id type="integer" nil="true"></default-value-id>
  <id type="integer">390</id>
  <name>PreImagingFile_Normal</name>
  <node-type-id type="integer">6</node-type-id>
  <project-id type="integer">1</project-id>
  <type>Mode</type>
  <version type="float">1.0</version>
  <labels type="array"/>
  <node-attributes type="array"/>
  <destinations type="array">
    <destination type="ValueString">
      <id type="integer">391</id>
    </destination>
  </destinations>
</mode>
<mode>
  <default-mode-id type="integer" nil="true"></default-mode-id>
  <default-value-id type="integer" nil="true"></default-value-id>
  <id type="integer">393</id>
  <name>UsePreImaging_Use</name>
  <node-type-id type="integer">6</node-type-id>
  <project-id type="integer">1</project-id>
  <type>Mode</type>
  <version type="float">1.0</version>
  <labels type="array">
    <label>
      <name>Use a pre-imaging file</name>
      <scope-kind>
        <name>OPMS</name>
      </scope-kind>
    </label>
  </labels>
  <node-attributes type="array"/>
  <destinations type="array">
    <destination type="Mode">
      <id type="integer">390</id>
    </destination>
  </destinations>
</mode>
<mode>
  <default-mode-id type="integer" nil="true"></default-mode-id>
  <default-value-id type="integer" nil="true"></default-value-id>
  <id type="integer">361</id>
  <name>OsiMDObservation_Normal</name>
  <node-type-id type="integer">6</node-type-id>
  <project-id type="integer">1</project-id>
  <type>Mode</type>
  <version type="float">1.0</version>
  <labels type="array"/>
  <node-attributes type="array"/>
  <destinations type="array">
    <destination type="Mode">
      <id type="integer">374</id>
    </destination>
    <destination type="Mode">
      <id type="integer">373</id>
    </destination>
    <destination type="Mode">
      <id type="integer">389</id>
    </destination>
    <destination type="Mode">
      <id type="integer">393</id>
    </destination>
  </destinations>
</mode>
<value-double-range>
  <default-float type="float">3.0</default-float>
  <id type="integer">366</id>
  <name>MinFiducialCountRange</name>
  <node-type-id type="integer">5</node-type-id>
  <project-id type="integer">1</project-id>
  <rangemax type="float">10.0</rangemax>
  <rangemin type="float">0.0</rangemin>
  <type>ValueDoubleRange</type>
  <value-formatter-id type="integer">7</value-formatter-id>
  <version type="float">1.0</version>
  <labels type="array"/>
  <node-attributes type="array"/>
  <destinations type="array"/>
</value-double-range>
<mode>
  <default-mode-id type="integer" nil="true"></default-mode-id>
  <default-value-id type="integer" nil="true"></default-value-id>
  <id type="integer">367</id>
  <name>MinFiducialCount_Normal</name>
  <node-type-id type="integer">6</node-type-id>
  <project-id type="integer">1</project-id>
  <type>Mode</type>
  <version type="float">1.0</version>
  <labels type="array"/>
  <node-attributes type="array"/>
  <destinations type="array">
    <destination type="ValueDoubleRange">
      <id type="integer">366</id>
    </destination>
  </destinations>
</mode>
<sub-system>
  <default-mode-id type="integer" nil="true"></default-mode-id>
  <id type="integer">365</id>
  <name>MinFiducialCount</name>
  <node-type-id type="integer">4</node-type-id>
  <project-id type="integer">1</project-id>
  <type>SubSystem</type>
  <version type="float">1.0</version>
  <labels type="array">
    <label>
      <name>Minimum Fiducial Slits</name>
      <scope-kind>
        <name>OPMS</name>
      </scope-kind>
    </label>
  </labels>
  <node-attributes type="array"/>
  <destinations type="array">
    <destination type="ValueDoubleRange">
      <id type="integer">366</id>
    </destination>
    <destination type="Mode">
      <id type="integer">367</id>
    </destination>
  </destinations>
</sub-system>
<value-string>
  <default-string>10.05.2004 02:30:00 UTC</default-string>
  <id type="integer">363</id>
  <name>OldDate</name>
  <node-type-id type="integer">5</node-type-id>
  <project-id type="integer">1</project-id>
  <type>ValueString</type>
  <value-formatter-id type="integer">6</value-formatter-id>
  <version type="float">1.0</version>
  <labels type="array"/>
  <node-attributes type="array"/>
  <destinations type="array"/>
</value-string>
<sub-system>
  <default-mode-id type="integer" nil="true"></default-mode-id>
  <id type="integer">362</id>
  <name>Date</name>
  <node-type-id type="integer">4</node-type-id>
  <project-id type="integer">1</project-id>
  <type>SubSystem</type>
  <version type="float">1.0</version>
  <labels type="array"/>
  <node-attributes type="array"/>
  <destinations type="array">
    <destination type="ValueString">
      <id type="integer">363</id>
    </destination>
    <destination type="Mode">
      <id type="integer">364</id>
    </destination>
    <destination type="ValueDateRange">
      <id type="integer">394</id>
    </destination>
  </destinations>
</sub-system>
<sub-system>
  <default-mode-id type="integer" nil="true"></default-mode-id>
  <id type="integer">380</id>
  <name>HourAngle</name>
  <node-type-id type="integer">4</node-type-id>
  <project-id type="integer">1</project-id>
  <type>SubSystem</type>
  <version type="float">1.0</version>
  <labels type="array">
    <label>
      <name>Hour Angle</name>
      <scope-kind>
        <name>OPMS</name>
      </scope-kind>
    </label>
  </labels>
  <node-attributes type="array"/>
  <destinations type="array">
    <destination type="ValueDoubleRange">
      <id type="integer">381</id>
    </destination>
    <destination type="Mode">
      <id type="integer">382</id>
    </destination>
  </destinations>
</sub-system>
<sub-system>
  <default-mode-id type="integer" nil="true"></default-mode-id>
  <id type="integer">372</id>
  <name>DateSystem</name>
  <node-type-id type="integer">3</node-type-id>
  <project-id type="integer">1</project-id>
  <type>SubSystem</type>
  <version type="float">1.0</version>
  <labels type="array">
    <label>
      <name>Date System</name>
      <scope-kind>
        <name>OPMS</name>
      </scope-kind>
    </label>
  </labels>
  <node-attributes type="array"/>
  <destinations type="array">
    <destination type="SubSystem">
      <id type="integer">362</id>
    </destination>
    <destination type="Mode">
      <id type="integer">374</id>
    </destination>
    <destination type="SubSystem">
      <id type="integer">380</id>
    </destination>
  </destinations>
</sub-system>
<value>
  <id type="integer">377</id>
  <name>DontCheckSpectraOverlap</name>
  <node-type-id type="integer">5</node-type-id>
  <project-id type="integer">1</project-id>
  <type>Value</type>
  <value-formatter-id type="integer" nil="true"></value-formatter-id>
  <version type="float">1.0</version>
  <labels type="array">
    <label>
      <name>Don't check</name>
      <scope-kind>
        <name>OPMS</name>
      </scope-kind>
    </label>
  </labels>
  <node-attributes type="array"/>
  <destinations type="array"/>
</value>
<value>
  <id type="integer">378</id>
  <name>CheckSpectraOverlap</name>
  <node-type-id type="integer">5</node-type-id>
  <project-id type="integer">1</project-id>
  <type>Value</type>
  <value-formatter-id type="integer" nil="true"></value-formatter-id>
  <version type="float">1.0</version>
  <labels type="array">
    <label>
      <name>Check</name>
      <scope-kind>
        <name>OPMS</name>
      </scope-kind>
    </label>
  </labels>
  <node-attributes type="array"/>
  <destinations type="array"/>
</value>
<mode>
  <default-mode-id type="integer" nil="true"></default-mode-id>
  <default-value-id type="integer" nil="true"></default-value-id>
  <id type="integer">379</id>
  <name>CheckSpectraOverlap_Normal</name>
  <node-type-id type="integer">6</node-type-id>
  <project-id type="integer">1</project-id>
  <type>Mode</type>
  <version type="float">1.0</version>
  <labels type="array"/>
  <node-attributes type="array"/>
  <destinations type="array">
    <destination type="Value">
      <id type="integer">378</id>
    </destination>
    <destination type="Value">
      <id type="integer">377</id>
    </destination>
  </destinations>
</mode>
<sub-system>
  <default-mode-id type="integer" nil="true"></default-mode-id>
  <id type="integer">376</id>
  <name>CheckSpectraOverlap</name>
  <node-type-id type="integer">4</node-type-id>
  <project-id type="integer">1</project-id>
  <type>SubSystem</type>
  <version type="float">1.0</version>
  <labels type="array">
    <label>
      <name>Check spectra overlap?</name>
      <scope-kind>
        <name>OPMS</name>
      </scope-kind>
    </label>
  </labels>
  <node-attributes type="array"/>
  <destinations type="array">
    <destination type="Value">
      <id type="integer">377</id>
    </destination>
    <destination type="Value">
      <id type="integer">378</id>
    </destination>
    <destination type="Mode">
      <id type="integer">379</id>
    </destination>
  </destinations>
</sub-system>
<value-double-range>
  <default-float type="float">3.0</default-float>
  <id type="integer">384</id>
  <name>MaxMasksRange</name>
  <node-type-id type="integer">5</node-type-id>
  <project-id type="integer">1</project-id>
  <rangemax type="float">15.0</rangemax>
  <rangemin type="float">1.0</rangemin>
  <type>ValueDoubleRange</type>
  <value-formatter-id type="integer">7</value-formatter-id>
  <version type="float">1.0</version>
  <labels type="array"/>
  <node-attributes type="array"/>
  <destinations type="array"/>
</value-double-range>
<mode>
  <default-mode-id type="integer" nil="true"></default-mode-id>
  <default-value-id type="integer" nil="true"></default-value-id>
  <id type="integer">385</id>
  <name>MaxMasks_Normal</name>
  <node-type-id type="integer">6</node-type-id>
  <project-id type="integer">1</project-id>
  <type>Mode</type>
  <version type="float">1.0</version>
  <labels type="array"/>
  <node-attributes type="array"/>
  <destinations type="array">
    <destination type="ValueDoubleRange">
      <id type="integer">384</id>
    </destination>
  </destinations>
</mode>
<sub-system>
  <default-mode-id type="integer" nil="true"></default-mode-id>
  <id type="integer">383</id>
  <name>MaxMasks</name>
  <node-type-id type="integer">3</node-type-id>
  <project-id type="integer">1</project-id>
  <type>SubSystem</type>
  <version type="float">1.0</version>
  <labels type="array">
    <label>
      <name>Maximum masks</name>
      <scope-kind>
        <name>OPMS</name>
      </scope-kind>
    </label>
  </labels>
  <node-attributes type="array"/>
  <destinations type="array">
    <destination type="ValueDoubleRange">
      <id type="integer">384</id>
    </destination>
    <destination type="Mode">
      <id type="integer">385</id>
    </destination>
  </destinations>
</sub-system>
<sub-system>
  <default-mode-id type="integer" nil="true"></default-mode-id>
  <id type="integer">392</id>
  <name>PreImagingFile</name>
  <node-type-id type="integer">3</node-type-id>
  <project-id type="integer">1</project-id>
  <type>SubSystem</type>
  <version type="float">1.0</version>
  <labels type="array">
    <label>
      <name>Pre-imaging FITS File</name>
      <scope-kind>
        <name>OPMS</name>
      </scope-kind>
    </label>
  </labels>
  <node-attributes type="array"/>
  <destinations type="array">
    <destination type="ValueString">
      <id type="integer">391</id>
    </destination>
    <destination type="Mode">
      <id type="integer">390</id>
    </destination>
  </destinations>
</sub-system>
<sub-system>
  <default-mode-id type="integer" nil="true"></default-mode-id>
  <id type="integer">386</id>
  <name>UsePreImaging</name>
  <node-type-id type="integer">3</node-type-id>
  <project-id type="integer">1</project-id>
  <type>SubSystem</type>
  <version type="float">1.0</version>
  <labels type="array">
    <label>
      <name>Use Pre-imaging?</name>
      <scope-kind>
        <name>OPMS</name>
      </scope-kind>
    </label>
  </labels>
  <node-attributes type="array"/>
  <destinations type="array">
    <destination type="Mode">
      <id type="integer">389</id>
    </destination>
    <destination type="SubSystem">
      <id type="integer">392</id>
    </destination>
    <destination type="Mode">
      <id type="integer">393</id>
    </destination>
  </destinations>
</sub-system>
<mode>
  <default-mode-id type="integer" nil="true"></default-mode-id>
  <default-value-id type="integer" nil="true"></default-value-id>
  <id type="integer">396</id>
  <name>OsiMDObservation_Preferences</name>
  <node-type-id type="integer">6</node-type-id>
  <project-id type="integer">1</project-id>
  <type>Mode</type>
  <version type="float">1.0</version>
  <labels type="array"/>
  <node-attributes type="array"/>
  <destinations type="array">
    <destination type="Mode">
      <id type="integer">360</id>
    </destination>
    <destination type="Mode">
      <id type="integer">367</id>
    </destination>
    <destination type="Mode">
      <id type="integer">379</id>
    </destination>
    <destination type="Mode">
      <id type="integer">385</id>
    </destination>
  </destinations>
</mode>
<sub-system>
  <default-mode-id type="integer" nil="true"></default-mode-id>
  <id type="integer">352</id>
  <name>OsiMDObservation</name>
  <node-type-id type="integer">3</node-type-id>
  <project-id type="integer">1</project-id>
  <type>SubSystem</type>
  <version type="float">1.0</version>
  <labels type="array">
    <label>
      <name>Observation Details</name>
      <scope-kind>
        <name>OPMS</name>
      </scope-kind>
    </label>
  </labels>
  <node-attributes type="array"/>
  <destinations type="array">
    <destination type="SubSystem">
      <id type="integer">353</id>
    </destination>
    <destination type="Mode">
      <id type="integer">361</id>
    </destination>
    <destination type="SubSystem">
      <id type="integer">365</id>
    </destination>
    <destination type="SubSystem">
      <id type="integer">372</id>
    </destination>
    <destination type="SubSystem">
      <id type="integer">376</id>
    </destination>
    <destination type="SubSystem">
      <id type="integer">383</id>
    </destination>
    <destination type="SubSystem">
      <id type="integer">386</id>
    </destination>
    <destination type="Mode">
      <id type="integer">396</id>
    </destination>
  </destinations>
</sub-system>
<mode>
  <default-mode-id type="integer" nil="true"></default-mode-id>
  <default-value-id type="integer" nil="true"></default-value-id>
  <id type="integer">398</id>
  <name>OsirisMDPreferences_Normal</name>
  <node-type-id type="integer">6</node-type-id>
  <project-id type="integer">1</project-id>
  <type>Mode</type>
  <version type="float">1.0</version>
  <labels type="array"/>
  <node-attributes type="array"/>
  <destinations type="array">
    <destination type="Mode">
      <id type="integer">396</id>
    </destination>
  </destinations>
</mode>
<sub-system>
  <default-mode-id type="integer" nil="true"></default-mode-id>
  <id type="integer">397</id>
  <name>OsirisMDPreferences</name>
  <node-type-id type="integer">3</node-type-id>
  <project-id type="integer">1</project-id>
  <type>SubSystem</type>
  <version type="float">1.0</version>
  <labels type="array"/>
  <node-attributes type="array"/>
  <destinations type="array">
    <destination type="SubSystem">
      <id type="integer">352</id>
    </destination>
    <destination type="Mode">
      <id type="integer">398</id>
    </destination>
  </destinations>
</sub-system>
</sub-systems-v4>